*{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    font-family: sans-serif;
}
.tab__head{
    display: inline-block;
    list-style: none;
    border: 1px solid darkgrey;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #ccc;
    padding: 5px;
    cursor: pointer;
    border-bottom: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.tab__content{
    display: none;
}
.curent-tab{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
}
.curent-content{
    display: block;
    border: 1px solid black;
    height: 300px;
    margin-top: -1px;
    padding: 10px;
}
#myform{
    margin: 1em;
}
form h3 {
    margin: 1em 0 0.5em 1em;
}
#inputs{
    line-height: 30px;
}
label {
    display: inline-block;
    width: 6em;
}
.tooltip {
    display: none;
    line-height: 14px;
    border: 1px solid green;
    border-radius: 4px;
    padding: 3px 5px;
    margin-top: 5px;
    margin-left: 5px;
    color: green;
}
.show{
    display: inline-block;
    position: absolute;
}
button{
    width: 7em;
    margin: 1em 0 0 7.5em;
}